$main-bg-color: #222429;
$block-color: #1c1e21;
$hover-block-color: #323438;
$text-color: #c4c4c4;
$green-text-color: #14ce8b;
$strong-buy-color: #15e3b5;
$buy-color: rgba(21, 227, 181, 0.5);
$hold-color: #323438;
$sell-color: rgba(246, 84, 76, 0.5);
$strong-sell-color: #f6544c;
$button-color: #737476;
$placeholder-color: rgba(196, 196, 196, 0.5);
$lamp-color: #bb9e67;

$cubic-animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);

$colors: $strong-buy-color, $buy-color, $hold-color, $sell-color,
  $strong-sell-color;
