.content {
  .general-info {
    width: 100%;
    padding: 8px 8px 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $block-color;
    border-radius: 4px;
    // border: 1px solid lawngreen;

    .description {
      margin: 0;
      padding-top: 8px;
      display: flex;
      justify-content: space-between;
      .title-info {
        color: $placeholder-color;
        text-transform: uppercase;
      }
      .abbreviation {
        text-transform: uppercase;
      }
    }
  }
  .peers-analysis {
  }
  .price-targ {
  }
}

.title {
}

.gorizontal-grafic {
}
