.bottom-header {
  width: 100%;
  padding-bottom: 8px;
  @media screen and (min-width: 768px) {
    padding-bottom: 12px;
  }
  .control-indicators {
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
    background: $main-bg-color;
    border-radius: 4px;
    font-size: 10px;

    // gap: 10px;

    .indicator-block {
      display: flex;
      justify-content: center;
      margin: 0;
      //   padding: 10px 15px;
      padding: 6px 0;
      padding-left: 10px;
      width: 50%;
      background: $block-color;
      .indicator-description {
        padding-right: 10px;
        text-align-last: right;
        width: 100%;
      }
      .indicator-params {
        margin: 0;
        color: $text-color;
        text-align-last: left;
        width: 100%;
      }
      &:first-child {
        .indicator {
          border-right: 1px solid $hover-block-color;
        }
      }
      &:nth-child(odd) {
        border-radius: 4px 0 0 4px;
      }
      &:nth-child(even) {
        border-radius: 0 4px 4px 0;
      }
      &:nth-child(n + 3) {
        margin-top: 5px;
        .indicator-params {
          padding-right: 10px;
        }
      }
      &:nth-child(3) {
        .indicator-params {
          border-right: 1px solid $hover-block-color;
        }
      }
      .indicator-description {
        align-self: center;
        margin: 0;

        color: $placeholder-color;
      }
    }
  }
}
// .parent-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
// .child-block {
//   width: calc(50% - 10px); /* 50% width with some spacing */
//   margin-top: 10px; /* Top margin */
//   box-sizing: border-box;
// }
// flex-basis: calc((100% - 30px)/2);
