.bottom-header {
  width: 100%;
  padding-bottom: 8px;
  @media screen and (min-width: 768px) {
    padding-bottom: 12px;
  }
  .control-indicators {
    display: flex;
    flex-wrap: wrap;

    background: $main-bg-color;
    border-radius: 4px;
    overflow: hidden;

    @media screen and (min-width: 1024px) {
      justify-content: space-between;
      background: $block-color;
      padding: 10px 0;
      flex-wrap: nowrap;
    }

    .indicator-block {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 6px 0;
      padding-left: 10px;
      width: 50%;
      background: $block-color;
      @media screen and (min-width: 1024px) {
        width: auto;
        padding: 0;
        flex-grow: 1;
        background: transparent;
        border-right: 1px solid $hover-block-color;
        padding: 0 15px;
        &:last-child {
          border-right: none;
        }
      }

      .indicator-description {
        align-self: center;
        align-items: center;
        margin: 0;
        color: $placeholder-color;
        padding-right: 8px;
        font-size: 9px;
        width: 100%;

        @media screen and (min-width: 768px) {
          font-size: 10px;
        }
        @media screen and (min-width: 1024px) {
          text-align-last: left;
          min-width: max-content;
        }
      }
      .indicator-params {
        font-size: 9px;
        margin: 0;
        color: $text-color;
        align-self: center;
        width: 100%;
        @media screen and (min-width: 768px) {
          font-size: 10px;
        }
        @media screen and (min-width: 1024px) {
          min-width: max-content;
        }
      }
      &:first-child {
        .indicator {
          border-right: 1px solid $hover-block-color;
          @media screen and (min-width: 1024px) {
            border-right: none;
          }
        }
      }
      &:nth-child(odd) {
        border-radius: 4px 0 0 4px;
        @media screen and (min-width: 1024px) {
          border-radius: 0;
        }
      }
      &:nth-child(even) {
        border-radius: 0 4px 4px 0;
        @media screen and (min-width: 1024px) {
          border-radius: 0;
        }
      }
      &:nth-child(n + 3) {
        margin-top: 5px;

        @media screen and (min-width: 1024px) {
          margin-top: 0;
        }
      }
      &:nth-child(3) {
        .indicator-params {
          border-right: 1px solid $hover-block-color;
          @media screen and (min-width: 1024px) {
            border-right: none;
          }
        }
      }
    }
  }
}
// .parent-container {
//   display: flex;
//   flex-wrap: wrap;
//   justify-content: space-between;
// }
// .child-block {
//   width: calc(50% - 10px); /* 50% width with some spacing */
//   margin-top: 10px; /* Top margin */
//   box-sizing: border-box;
// }
// flex-basis: calc((100% - 30px)/2);
