.description-menu {
  //   border: 1px solid thistle;

  .menu-buttons {
    padding-bottom: 8px;
    border-bottom: 1px solid $hover-block-color;
    text-align: left;
    @media screen and (min-width: 768px) {
      padding-bottom: 12px;
    }
    .description-button {
      padding: 3px 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      // align-items: center;

      color: $placeholder-color;
      background: transparent;
      font-size: 12px;
      line-height: normal;
      letter-spacing: 0.2px;
      transition: color $cubic-animation, background-color $cubic-animation;
      &:hover,
      &:focus {
        background-color: $hold-color;
        color: $text-color;
      }
    }
    .description-active {
      background-color: $hold-color;
      color: $text-color;
    }
  }
  .text-block {
    border-bottom: 1px solid $hover-block-color;
    padding: 8px 0;
    text-align: left;
    @media screen and (min-width: 768px) {
      padding: 12px 0;
    }

    .content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      height: 60px;

      margin: 0;
      max-width: 100%;
      font-size: 12px;
      line-height: 1.6;
      text-align: left;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    .show-content {
      padding: 5px 10px;
      border: none;
      outline: 1px solid $hover-block-color;
      color: $green-text-color;
      border-radius: 4px;
      cursor: pointer;
      align-items: center;
      background: transparent;
      font-size: 10px;
      line-height: normal;
      letter-spacing: 0.2px;
      transition: color $cubic-animation;
      &:hover,
      &:focus,
      &:active {
        outline: 1px solid $hover-block-color;
        color: $green-text-color;
      }
    }
  }
  .hiden {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
