.description-menu {
  //   border: 1px solid thistle;
  padding-bottom: 12px;
  border-bottom: 1px solid $hover-block-color;
  @media screen and (min-width: 768px) {
    // padding: 12px 0;
  }

  .menu-buttons {
    padding-bottom: 8px;
    border-bottom: 1px solid $hover-block-color;
    text-align: left;
    @media screen and (min-width: 768px) {
      padding-bottom: 12px;
    }
    .description-button {
      padding: 3px 8px;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      // align-items: center;

      color: $placeholder-color;
      background: transparent;
      font-size: 12px;
      line-height: normal;
      letter-spacing: 0.2px;
      transition: color $cubic-animation, background-color $cubic-animation;
      &:hover,
      &:focus {
        background-color: $hold-color;
        color: $text-color;
      }
    }
    .description-active {
      background-color: $hold-color;
      color: $text-color;
    }
  }
  .text-block {
    position: relative;
    padding-top: 8px;
    margin-bottom: 8px;
    height: 70px;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    width: 100%;
    text-align: left;
    @media screen and (min-width: 768px) {
      padding-top: 12px;
      margin-bottom: 12px;
    }

    .content {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3;
      overflow: hidden;
      margin: 0;
      max-width: 100%;
      font-size: 12px;
      line-height: 1.6;
      text-align: left;
    }
    .content.open {
      -webkit-line-clamp: inherit;
    }
  }
  .text-block.active {
    height: auto;
  }
  .show-content {
    padding: 5px 10px;
    border: none;
    outline: 1px solid $hover-block-color;
    color: $green-text-color;
    border-radius: 4px;
    cursor: pointer;
    align-items: center;
    background: transparent;
    font-size: 10px;
    line-height: normal;
    letter-spacing: 0.2px;
    transition: color $cubic-animation;
    &:hover,
    &:focus,
    &:active {
      outline: 1px solid $hover-block-color;
      color: $green-text-color;
    }
  }
  .hiden {
    display: none;
    visibility: hidden;
    pointer-events: none;
  }
}
