@import url("../css/fonts.css");

body {
  font-family: "Open Sans Regular", sans-serif;
  line-height: normal;
  background-color: $main-bg-color;
}
img {
  display: block;
  min-width: 100%;
  height: auto;
  width: 100%;
}
.button {
  cursor: pointer;
  font-family: inherit;
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
// ----------------------------------
.container {
  width: 100%;
  margin: 0 auto;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.popup-container {
  margin: 0 auto;
  padding: 0 8px;
  width: 100%;
  @media screen and (min-width: 768px) {
    padding: 0 12px;
  }
}
.is-visible {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
