.graphs-block {
  position: relative;
  max-width: 100%;
  padding: 8px 0;
  display: flex;
  gap: 5px;
  .content {
    flex-basis: calc((100% - 10px) / 2);
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: 1px solid teal;
    .title {
      margin: 0;
      padding: 8px;
      text-align: left;
      align-items: flex-end;
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 0.6px;
      line-height: 1;
      color: $text-color;
      text-transform: uppercase;
      // border: 1px solid teal;
      @media screen and (min-width: 768px) {
        padding: 12px;
      }
    }
    .linear-graph {
      width: 100%;
      padding: 8px;
      background-color: $block-color;
      border-radius: 4px;
      //   border: 1px solid rebeccapurple;

      .graphBlock {
        min-width: 100%;
        padding: 8px;
        padding-top: 0;
        border: 1px solid rebeccapurple;
        .image-graph {
          background-color: #454545;
          min-width: 100%;
          min-height: 166px;
          border: 1px solid maroon;
        }
      }
    }
    .analytics {
      flex: 1;
      background-color: $block-color;
      border-radius: 4px;
      //   border: 1px solid olivedrab;
      .separator {
        width: 100%;
        border-bottom: 1px solid $hover-block-color;
        .recommendations {
          padding: 8px;
          .detal-info {
            display: flex;
            flex-direction: row;
            gap: 10px;
            padding: 10px 8px;
            border: 1px solid mediumpurple;
            .indicator {
              padding: 0;
              max-width: 100%;
              flex: 1;
              min-height: 100%;
              border: 1px solid mediumpurple;
            }
            .position-list {
              border: 1px solid tomato;
              display: flex;
              .list-colors {
                .block-color {
                  display: flex;
                  justify-content: flex-start;
                  align-items: center;
                  border: 1px solid indigo;
                  /*
                * SASS loop for background color generation.
             */
                  @each $color in $colors {
                    $idx: index($colors, $color);
                    &:nth-child(#{$idx}) .collor-container {
                      display: inline-block;
                      width: 20px;
                      height: 5px;
                      border-radius: 9px;
                      background-color: $color;
                    }
                  }
                  .description-color {
                    padding-left: 5px;
                    display: flex;
                    flex-wrap: nowrap;
                    text-align: left;
                    color: $placeholder-color;
                  }
                }
              }
            }
          }
        }
      }

      .number-of-analysts {
        .indicators {
          min-height: 130px;
          padding: 10px;
          padding-top: 0;
          border: 1px solid palevioletred;
          .image-graph {
            background-color: #454545;
            width: auto;
            max-width: 100%;
            // min-height: 166px;
            border: 1px solid maroon;
          }
        }
      }
    }
  }
}
